body{
    background-color: rgb(0, 0, 0);
}

.box
{
    width: 100%;
    height: 40em;
    background-color: rgb(33, 28, 28) ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 7px 0px rgb(114, 148, 115);
}
@keyframes panimation
{
    0%
    {
        box-shadow: 0px 0px 7px 0px rgb(114, 148, 115);
    }
    50%
    {
        box-shadow: 1px 1px 7px 4px rgb(114, 148, 115);

    }
    100%
    {
        box-shadow: 0px 0px 7px 0px rgb(114, 148, 115);

    }
}
.blackbox
{
    margin-top: 30em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 25%;
    width: 100%;
}
.controls
{
    margin-top: 5em;
    margin-left: -10px;
    
}
#pbtn
{
    width: 60px;
    height: 60px;
    background-color: black;
    color:rgb(81, 212, 61);
    font-size: 35px;
    font-weight:bolder;
    border: 1px solid rgb(33, 28, 28) ;
    border-radius: 50%;
    padding:4px 3px 0px 10px;
}

#pbtn:active
{
    background-color: rgb(51, 87, 51) ;
    
}
.ctrlbtn
{
    width: 40px;
    height: 40px;
    background-color: transparent;
    color:rgb(81, 212, 61);
    font-size: large;
    border: 1px solid rgb(33, 28, 28) ;
    border-radius: 50%;
    padding:2px 3px 1px 5px;
}
.ctrlbtn:active
{
    color: black;
}
.shuffle
{
    background-color: transparent;
    margin-left: 25%;
    height:20% ;
    margin-top: 6.3em;
    
}
#shufflebtn
{
height: 100%;
background-color: transparent;
color: rgb(81, 212, 61);
border: 1px solid transparent;
}
.volume
{
    background-color:transparent;
    width: 35%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.3em;
}
#mbtn
{
    background-color: transparent;
    border: 1px solid black;
}
